:root {
    --primaryColor : #fe206e;
    --mainFont : "Open Sans", sans-serif;
}
.text__primary {
    color: var(--primaryColor);
}

body {
    font-family: var(--mainFont);
}
.navbar .nav-item .nav-link {
    color: #fff;

}
.navbar-nav .nav-item a.active {
    color: var(--primaryColor) !important;
}
.hero {
    height: calc(100vh - 56px);
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center -100px;
}
.hero .hero-content a {
    color: var(--primaryColor);
}

.testimonial img {
    width: 100px;
    height: 100px;
}
/*-----------------------about section------------------*/

.about, .Portfolio {
    background-image: url(../images/light_dot.jpg);
}
.Portfolio .nav-tabs .nav-item.show .nav-link,
.Portfolio .nav-tabs .nav-link.active {
    color: var(--primaryColor);
}
.Portfolio .nav-link {
    color: #000;
    border: none;
}
.Portfolio .nav-tabs {
    border-bottom: none;
}
